%section#content
  .row.bash-space 
    .span12
      .row
        .span5
          %h1 Welcome
          %p{ :style => "margin-bottom:150px;" } Jeffrey Michael O'Brien & Catherine Michele Pricer-O'Brien invite you to celebrate their walk through life together. On January 18th 2013, in Lapeer; with the closest members of their families, they entered into the union of marriage. The ceremony was fun, but now it is time to celebrate in the warmth of summer.﻿ They would be honored if you would join them. It would be magical to have the people they love and have helped shape who they are; together in one place, at one time, gathered in a spirit of love.