%section#content
	.row.bash-space 
		.span12
			.row
				.span5
					%h5.title The Bash<br/> 
					%h5 Saturday, July 27, 2013 at 5:00 pm 
					%h7.address Kates's Childhood Home<br>2555 S. Lapeer Rd<br> Lapeer, MI 48446 <br>
					.btn Directions from Metro Detroit 
					.btn AirPort Bishop Airport, Flint Township, MI
				.span7.thumbnail
					=image_tag "map.png"
					%a.btn{:href=>"http://maps.google.com/?ie=UTF8&amp;ll=45.00109,-86.270553&amp;spn=8.87104,23.269043&amp;t=m&amp;z=6&amp;source=embed" ,:style=>"color:#0000FF;text-align:left"} View Larger Map
			