%section#content
	.row-fluid
		.span12.bash-space 
			.row
				.span12
					-@pictures.each do |picture|
						.mosaic-block.bar3
							%a.mosaic-overlay
								.details
									%h4
										=picture[:title]
										=picture[:details]
							.mosaic-backdrop
								%img{:src=>"#{asset_path(picture[:url])}"}

:javascript
	jQuery(function($){
		$('.bar').mosaic({
			animation	:	'slide'	
		});
	});
:javascript
	jQuery(function($){
		$('.bar3').mosaic({
			animation	:	'slide',	
			anchor_y	:	'top'
		});
	});	
:javascript
	$('[data-spy="scroll"]').each(function () {
	var $spy = $(this).scrollspy('refresh')
});