#myCarousel{:class=>"carousel slide span12"}
.carousel.slide#myCarousel
  .carousel-inner
  .active.item
    =image_tag(asset_path "gallery/1.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag(asset_path "gallery/2.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/3.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/4.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/5.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/6.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/7.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/8.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/9.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/10.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/11.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/12.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/13.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/14.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/15.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/16.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/17.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/18.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/19.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/20.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/21.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/22.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/23.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/24.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/25.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/26.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/27.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/28.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/29.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/30.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("..images/gallery/31.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/32.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/33.png")
    .carousel-caption
      %h4 Caption
  .item
    =image_tag("images/gallery/34.png")
    .carousel-caption
      %h4 Caption
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
