.row
	.span12.bash-space 
		%h1 
		.row
			.span4
				%h1
				.thumbnails
					=link_to(image_tag("http://myfrugaladventures.com/wp-content/uploads/2012/04/target-dog-300x201.jpg"), "http://www.target.com/wedd/registry/pycd7Jd3SbkHBzdpV95LkQ", :id => "#fade1", :class => "animated")
			.sapn4
				%h1
				.thumbnails
					=link_to(image_tag("http://"), "http://e", :id => "#fade1", :class => "animated")
			.span4
				%h1
				.thumbnails
					=link_to(image_tag("http://"), "http://e", :id => "#fade1", :class => "animated")
	.span12
		.row
			.span4
				%h1
				.thumbnail
					=link_to(image_tag("http://"), "http://e", :id => "#fade1", :class => "animated")
			.sapn4
				%h1
				.thumbnail
					=link_to(image_tag("http://"), "http://e", :id => "#fade1", :class => "animated")
			.span4	
				%h1
				.thumbnail	
					=link_to(image_tag("http://"), "http://e", :id => "#fade1", :class => "animated")