%section#content
  .row.bash-space 
    .span12
      .row
        .span5
          %h1 Her Story
          %p Catherine Pricer born to Michele and Michael Pricer. She grew up in Lapeer on her parents plant nursery. Her young life was filled with adventure and exploration.<br> She had many animals to keep her busy, (like dressing up small kittens, and walking the sheep on a leash. Kate's niche in life is art and creation, her passions are seeing the beauty in all things and giving her new husband a hard time....​ Kate is currently working downtown Detroit for Compuware, one of her child hood dreams come true.
        .span2.space
        .span5
          %h1 His Story
          %p Catherine Pricer born to Michele and Michael Pricer. She grew up in Lapeer on her parents plant nursery. Her young life was filled with adventure and exploration.<br> She had many animals to keep her busy, (like dressing up small kittens, and walking the sheep on a leash. Kate's niche in life is art and creation, her passions are seeing the beauty in all things and giving her new husband a hard time....​ Kate is currently working downtown Detroit for Compuware, one of her child hood dreams come true.
        .row
          .span10
            .row
              %h1.span2 Our Story 
            .row  
              .span2.offset2
                =image_tag ""
              .span6
                %p Catherine Pricer born to Michele and Michael Pricer. She grew up in Lapeer on her parents plant nursery. Her young life was filled with adventure and exploration.<br> She had many animals to keep her busy, (like dressing up small kittens, and walking the sheep on a leash. Kate's niche in life is art and creation, her passions are seeing the beauty in all things and giving her new husband a hard time....​ Kate is currently working downtown Detroit for Compuware, one of her child hood dreams come true.
            