/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mosaic
 *= require bootstrap.min
 *= require_self
 */


body {
	background-image: url("http://farm9.staticflickr.com/8248/8489947561_703b3d1077_b.jpg");background-repeat:no-repeat;
	background-size: cover;
	position: fixed
	width: 100%;
	height: 100%;
}

html, body{
	min-height:100%; min-width:100%;
}

h1 {
	font-family: 'Kaushan Script', cursive;
		font-size: 30px;
		padding-top: 30px;
		padding-bottom:50px;
}

h5 {font-family: 'Kaushan Script', cursive; color:#474747;}
h5.title{font-family: 'Kaushan Script', cursive; color:#474747; font-size: 30px;}
h7 {font-family: 'Poiret One', cursive;color:#474747;}
.bash-space {
	padding-top: 60px


}
.btn {
	margin-top: 20px
}
.contact{
	text-decoration: none;
	list-style-type: none;
}
.bash-navbar {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0px 10px 0 0;

}

.bash-inner {
	min-height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.5;
	background-color: #bcb9a7;
	background-repeat: repeat-x;
	border: 1px solid #CC9966;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	*zoom: 1;
	font-family: 'Bilbo Swash Caps', cursive;
	color: #474747;
	font-size: 24px;
	font-weight: bolder;
	text-shadow: none;
	padding-left: 31px;
	margin-left: 0px



}

.bash-inner a {
	color: #0A0A0A;
	text-decoration: none;
	line-height: 51px;
	text-shadow: 1px 0px 1px white;
}

.bash-inner a:hover {
	color: #000;
	text-decoration: none
}

.bash-nav li{
	padding: 0;
	margin: 0 0 10px 25px;
	color: #474747;
	float: left;
}

.bash-nav {
	margin-left: 20px;
	list-style: none;
	display: block;
}

.space {
	width: 100px
}
.bash-header {


}

.bash-footer li {
	list-style-type: none;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	margin-left: 20px;
	list-style: none;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

section {

	width: 1000px;

}


#content {
	margin: 0 auto;
}
.thumbnail {background-color: white;
width: 250px;}
*{ padding:0px; margin:0px; }
			a{ color:#ffffff; }
			
			.boxgrid{ 
				width: 300px; 
				height: 200px; 
				margin:10px; 
				float:left; 
				background:#161613; 
				border: solid 2px #fff; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
				}
				.boxgrid p{ 
					padding: 0 10px; 
					color:#fffff; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 100px; 
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
				.captionfull .boxcaption {
					top: 260;
					left: 0;
				}
				.caption .boxcaption {
					top: 220;
					left: 0;
				}

.bar2 .mosaic-overlay:hover {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
}

.bar3 .mosaic-overlay {
	top:-100px;
	height:100px;
	background:url(../img/bg-black.png);
		}

h4 
{
	font-family: 'Poiret One', cursive;
	margin: 10px 10px 0 10px;
	font:18pt;
	color:#FFF
}
.details
	{
	float: left; 
	font-family: 'Henny Penny', cursive;
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .7; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
h3{ margin: 10px 10px 0 10px; ;  Arial, sans-serif; letter-spacing:-1px; }
