!!! 5
%html(xmlns:og = 'http://opengraphprotocol.org/schema/')
	%head
		%link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
		%title= "The Bash :: "+controller.controller_name.capitalize
		%link(href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Lovers+Quarrel|Poiret+One|Henny+Penny|Bilbo|Great+Vibes|Kaushan+Script'rel='stylesheet' type='text/css')
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		%body
		%container-fluid
			%bash-header
				=render :partial => 'layouts/header'
				= yield
				%section#content
		#wrap
			.bash-footer
				.container
