<!DOCTYPE html>
<html>
<head>
  <title>TheBash</title>
  <%= stylesheet_link_tag  "application","bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "application","bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="span12">
	<div class="row">
  <div class="span9">
    Level 1 column
    <div class="row">
      <div class="span6">Level 2</div>
      <div class="span3">Level 2</div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
